*.pdb
*.dll
*.obj
*.manifest
*.manifest.res
*.lib
*.suo
*.ncb
*.ilk
*.pch
*.dep
*.idb
*.exe
*.aps
*.vcproj.*.user
*.vcxproj.*.user
*.vcxproj.user
*.sdf
*.opensdf
BuildLog.htm
bin/
obj/
Debug/
Release/
ipch/
