*.pdb
*.dll
*.obj
*.manifest
*.manifest.res
*.lib
*.suo
*.ncb
*.ilk
*.pch
*.dep
*.idb
*.exe
*.aps
*.vcproj.*.user
*.vcxproj.*.user
*.vcxproj.user
*.sdf
*.opensdf
BuildLog.htm
bin/
obj/
Debug/
Release/
PythonDebug/
ipch/
*.pyc
_ReSharper.*/
Debug-ANSI2/
Debug2/
Debug-ANSI/
DebugStartup2/
docs/build/
Release_Archive/
installer/build/
installer/temp/
Thumbs.db
