<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.76.0.0" targetFramework="native" />
  <package id="boost_python39-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="python" version="3.9.5" targetFramework="native" />
  <package id="pythonx86" version="3.9.5" targetFramework="native" />
</packages>