<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="python" version="3.14.4" targetFramework="native" />
  <package id="pythonarm64" version="3.14.4" targetFramework="native" />
  <package id="pythonx86" version="3.14.4" targetFramework="native" />
  <package id="WixToolset.UI.wixext" version="7.0.0" targetFramework="native" />
</packages>