<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_python38-vc141" version="1.72.0.0" targetFramework="native" />
  <package id="boost_regex-vc141" version="1.72.0.0" targetFramework="native" />
  <package id="python" version="3.8.2" targetFramework="native" />
  <package id="pythonx86" version="3.8.2" targetFramework="native" />
</packages>