name: Continuous Integration

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2016
    strategy:
      max-parallel: 4
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32]
        
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: 'true'

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: "Use CI config files"
      run: |
           Write-Host "remove PythonSettings.props" -ForegroundColor Green
           Remove-Item '.\PythonScript\project\PythonSettings.props'
           Rename-Item -Path ".\PythonScript\project\PythonSettings_appveyor.props" -NewName "PythonSettings.props"
           Write-Host "remove packages.config" -ForegroundColor Green
           Remove-Item '.\PythonScript\project\packages.config'
           Rename-Item -Path ".\PythonScript\project\packages_appveyor.config" -NewName "packages.config"
      shell: pwsh
      working-directory: .

    - name: Setup NuGet.exe
      uses: nuget/setup-nuget@v1

    - name: Restore
      working-directory: .
      run: nuget restore PythonScript.sln

    - name: MSBuild of solution
      working-directory: .
      run: msbuild PythonScript.sln /m /verbosity:minimal /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}"


