name: Continuous Integration

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet.exe
      uses: nuget/setup-nuget@v2

    - name: Restore
      working-directory: .
      run: nuget restore PythonScript.sln

    - name: MSBuild of solution
      working-directory: .
      run: msbuild PythonScript.sln /m /verbosity:minimal /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}"

    - name: Build docs
      if: matrix.build_configuration == 'Release'
      working-directory: docs
      run: |
           python -m pip install --upgrade pip
           pip install -U sphinx
           .\make.bat html

    - name: Build installer and release zips
      if: matrix.build_configuration == 'Release'
      working-directory: installer
      run: |
           $env:PYTHONBUILDDIR_X64='..\packages\python.3.12.7\tools'
           $env:PYTHONBUILDDIR='..\packages\pythonx86.3.12.7\tools'
           Rename-Item -Path ".\buildPaths.bat.orig" -NewName "buildPaths.bat"
           $env:WIX_PATH="C:\Program Files (x86)\WiX Toolset v3.11\bin"
           $env:PATH = $env:PATH + ';' + $env:WIX_PATH
           .\buildAll.bat ${{ matrix.build_platform }}
