<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">


	<?if $(var.Platform) = x64 ?>
		<?define ProductName = "PythonScript plugin for Notepad++ (64 bit)" ?>
		<?define Win64 = "always64" ?>
	<?else?>
		<?define ProductName = "PythonScript plugin for Notepad++" ?>
		<?define Win64 = "always32" ?>
	<?endif?>

	<Package Language="1033" Manufacturer="Dave Brotherstone" Name="$(var.ProductName)" UpgradeCode="717FEC91-6F2B-459D-9868-0A3A037F5195" Version="$(var.version)" InstallerVersion="200"><Upgrade Id="717FEC91-6F2B-459D-9868-0A3A037F5195">
			<UpgradeVersion Minimum="0.0.0.0" Maximum="$(var.version)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>

		<Media Id="1" Cabinet="PythonScript.cab" EmbedCab="yes" />

		<InstallExecuteSequence>
				<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>

		<Property Id="INSTALLLEVEL" Value="5" />

		<Feature Id="FT_PythonScriptAll" Title="PythonScript Components" Display="expand" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR" Description="Install directory should be the install directory of your Notepad++ directory">
			<Feature Id="FT_PythonScript" Title="PythonScript plugin" AllowAdvertise="no">
				<ComponentRef Id="C_startup.py" />
				<ComponentRef Id="C_pythonscript.dll" />
				<ComponentRef Id="C_python312.dll" />
				<ComponentGroupRef Id="CG_PythonLib" />
				<ComponentGroupRef Id="CG_PythonLibDll" />
			</Feature>
			<Feature Id="FT_Help" Title="Help" AllowAdvertise="no" Description="HTML files with documentation for all the classes, methods and enums in PythonScript">
				<ComponentGroupRef Id="CG_HtmlDocs" />
			</Feature>
			<Feature Id="FT_SampleScripts" Title="Sample Scripts" AllowAdvertise="no" Description="Sample scripts to show basic usage">
				<ComponentGroupRef Id="CG_SampleScripts" />
			</Feature>
			<Feature Id="FT_TclTkLibs" Title="Tcl/Tk Suport" Level="10" AllowAdvertise="no" Description="Support for Tcl/Tk (allows dynamically building GUIs)">
				<ComponentGroupRef Id="CG_PythonTclTkLib" />
				<ComponentGroupRef Id="CG_PythonTclTkLibDll" />
			</Feature>
			<Feature Id="FT_UnitTests" Title="Unit Tests" Level="10" AllowAdvertise="no" Description="Unit tests for PythonScript. Not usually necessary, but if you are having problems, any issues reported from the tests will be useful for diagnosis.">
				<ComponentGroupRef Id="CG_UnitTests" />
			</Feature>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="images\banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="images\dialog.bmp" />
		<ui:WixUI Id="WixUI_FeatureTree" />

			<StandardDirectory Id="ProgramFiles6432Folder">
				<Directory Id="INSTALLDIR" Name="Notepad++">
					<Directory Id="D_Plugins" Name="plugins">
						<Directory Id="D_PythonScript" Name="PythonScript">
							<Directory Id="D_PythonLib" Name="lib" />
							<Directory Id="D_Scripts" Name="scripts">
								<Component Id="C_startup.py" Bitness="$(var.Win64)">
									<RemoveFile Id="Remove_F_startup.py" Name="startup.py" On="install" />
									<RemoveFile Id="Remove_F_startup.pyc" Name="startup.pyc" On="install" />
									<File Id="F_startup.py" KeyPath="yes" Name="startup.py" Source="$(var.baseDir)\scripts\startup.py" />
								</Component>
								<Directory Id="D_npp_unit_tests" Name="npp_unit_tests" />
								<Directory Id="D_SampleScripts" Name="Samples" />
							</Directory>
							<Directory Id="D_DocPythonScript" Name="doc" />
							<Component Id="C_pythonscript.dll" Bitness="$(var.Win64)">
								<RemoveFile Id="Remove_F_pythonscript.dll" Name="PythonScript.dll" On="install" />
								<File Id="F_pythonscript.dll" Name="PythonScript.dll" Source="$(var.baseDir)\$(var.variantDir)\Release\PythonScript.dll" />
							</Component>
							<Component Id="C_python312.dll" Bitness="$(var.Win64)">
								<RemoveFile Id="Remove_F_python312.dll" Name="python312.dll" On="install" />
								<File Id="F_python312.dll" Name="python312.dll" Source="$(var.pythonDir)\python312.dll" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</StandardDirectory>
		</Package>


</Wix>